/* General Styles */
body { 
  height: 400vh; /* Height to create scrollable area */
  background: black;
  color: white;
  overflow-x: hidden;
}

.mainSvg {
  position: absolute;
  overflow: visible;
  top: 50vh; /* Adjust for desktop */
}

.textBox svg {
  margin-top: 0.5vh;
  left: -10px;
}

#orange-svg-blur {
  stroke-width: 24px;
}
.ball {
  fill: #FE8000;
  visibility: hidden;
}
#orange-svg-blur {
  filter: blur(48px);
}
.iVLine {
  stroke: #FE8000;
  stroke-width: 2px;
  visibility: hidden;
}
.vLine {
  opacity: 0.4;
}

.timeLine {
  position: relative;
  width: 100%;
  height: 400vh; /* Full height of the viewport */
}


/* Progress Bar Styles */
.progress-bar {
  position: fixed;
  bottom: 10%;
  left: 5%;
  width: 2px;
  height: 15vh;
  background-color: #444; 
  opacity: 1;
}
.progress-bar-2 {
  position: fixed;
  bottom: 0%;
  left: 5%;
  width: 2px;
  height: 25vh;
  background-color: white; 
  transform-origin: top;
  transform: scaleY(0); /* Start with no width */
  transition: transform 0.2s ease-out;
}

/* TextBox Styles */
.textBox {
  position: absolute;
  width: fit-content;
  visibility: hidden;
  height: 80px;
  line-height: 1;
  color: white;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Positioning for Text Boxes */
.iText01 { top: 14%; left: 8%; }
.iText02 { top: 16%; left: 59%; }
.iText03 { top: 23%; right: 5%; }
.iText04 { top: 36%; left: 58%; }
.iText05 { top: 43%; left: 11%; }
.iText06 { top: 60%; left: 35%; }
.iText07 { top: 65%; left: 56%; }
.iText08 { top: 80%; left: 45%; }


/* Responsive Styles for Mobile */
@media (max-width: 768px) {
  .mainSvg {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    width: 150vw; /* Adjust width for visibility */
  }

  .timeLine {
    position: relative;
    width: 100%;
    height: 400vh;
  }
  .textBox{
    position: fixed;
    left: 5%; /* Center horizontally */
    top: 80%;
    font-size: 16px; /* Smaller text for mobile */
    max-width: 40%;
  }

  .progress-bar {
    height: 10vh; /* Shorter bar */
    bottom: 5%; /* Adjust position for mobile */
    left: 95%;
  }
  
  .progress-bar-2 {
    height: 10vh; /* Adjust height */
    bottom: 5%;
    left: 95%;
  }
}

