/* body { 
  height: 100vh; 
  background: black;
  color: white;
  margin: 0;
}



#svg-container {
  position: relative;
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
}

.whiteLine, .orangeLine {
  stroke-width: 2px;
}

#orange-svg-blur {
  filter: blur(48px);
}

.iLine,.ball{
  visibility: hidden;
}
 */
