.App {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    height: 300vh;
  }
  
  .spacer {
    height: 150vh; /* Adjust spacer height to provide enough scroll space */
  }
  
  .text-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 4rem;
    overflow: hidden;
  }
  
  .scroll-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: opacity 0.3s ease;
  }
  